:root {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #fef5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --inline-padding: 20px;
}

a {
  font-weight: 500;
  color: #060fbc;
  text-decoration: inherit;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #882ceb;
  }
}

body {
  margin: 0;
  padding: 0;
}