@import "../../styles/mixins";

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #375471;
  padding: 20px var(--inline-padding);
  margin-top: 20px;
  background: #cdcbcb56;

  @include onTablet {
    flex-direction: row;
    gap: 5px;

    .leftPart,
    .rightPart {
      width: 50%;
    }
  }
}

.leftPart {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 25px;
}