@use "../../styles/mixins" as *;

.footer {
  border-top: 2px solid #375471;
  padding: 20px var(--inline-padding);
  background: #cdcbcb56;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: var(--min-width);
  max-width: var(--max-width);

  @include onTablet {
    flex-direction: row;
    gap: 5px;

    .leftPart,
    .rightPart {
      width: 50%;
    }
  }
}

.item {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.leftPart {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.name {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 25px;
  text-align: right;
  list-style: none;
}