@use "./styles/mixins.scss" as *;

.container {
  margin: 0 auto;
  min-height: calc(100vh - 530px);
  padding: 20px var(--inline-padding);
  overflow: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);

  @include onTablet {
    min-height: calc(100vh - 395px);
  }
}